<configuration>
  <system.webServer>
    <!-- Indicate that index.js is a Node.js application handled by iisnode -->
    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>
    <!-- Rewrite all requests to index.js -->
    <rewrite>
      <rules>
        <rule name="NodeApp">
          <match url="/*" />
          <action type="Rewrite" url="index.js" />
        </rule>
      </rules>
    </rewrite>
    <!-- Optional: Hide node_modules from being served directly -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>