<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>
    
    <rewrite>
      <rules>
        <!-- 重定向所有請求到你的 Node.js 應用 -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.js" />
        </rule>
      </rules>
    </rewrite>
    
    <iisnode 
      nodeProcessCommandLine="C:\Program Files\nodejs\node.exe" 
      interceptor="%programfiles%\iisnode\interceptor.js"
    />

    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="node_modules" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>